*{
    box-sizing: border-box;ffss
    font-family: '맑은 고딕';
}
#container{
    width: 1000px;
    margin: 0 auto;
}
ul{
    list-style: none;
}

/*헤더영역*/
header{
    text-align: center;
}
nav{
    width: 100%;
    float: left;
    background-color: black;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    float: left;
    padding: 10px;
}
nav li:last-child{
    float: right;
}
nav li a{
    color: white;    
    text-decoration: none;
    padding: 5px;
}
nav li a:hover{
    background-color: pink;
    color: white;
}

/*좌측 사이드영역*/
aside{
    float: left;
    width: 200px;
    height: 700px;
    text-align: center;
    background-color: #ddd;
}

/*섹션영역*/
section{
    float: left;
    width: 600px;
    height: 700px;
    text-align: center;
    padding: 5px;
}

/*회원가입 폼영역*/
form{
    width: 500px;
    text-align: center;
    background-color: #ccc;
    margin: 0 auto;
    padding: 5px;
}
form fieldset{
    border: none;
    margin-top: 10px;
}
form legend{
    font-weight: bold;
}
form ul{
    padding: 0;
    text-align: left;
}
form li{
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    margin: 5px;
}
label{
    display: inline-block;
    width: 130px;
    text-align: center;
    margin-right: 30px;
    margin-left: 5px;
}
input{
    width: 250px;
    padding: 3px;
}
form fieldset:last-child{
    margin: 0;
}
button{
    width: 150px;
    border: none;
    border-radius: 30px;
    background-color: #ddd;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
}

/*우측 사이드영역*/


/*푸터 영역*/
footer{
    clear: both;
    background-color: #ccc;
}
footer > *{
    text-align: center;
    padding: 30px;
}

